@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  transition: background-color .3s ease;
}

.roundlevel {
  border-radius: 3rem;
}

.rounded-details {
  border-top-left-radius: 3rem;
  border-bottom-left-radius: 3rem;
}

.size {
  width: 56rem;
  height: 34rem;
}

.inputsize {
  width: 44rem;
}

.roundedlevel {
  border-radius: 2.5rem;
}

.balance {
  white-space: pre balance;
}

.presentation {
  width: 41rem;
}

.detail:hover::after {
  content: 'Not a Futbol Club lol';
  position: relative;
  display: inline-flex;
  top: -40px;
  font-size: small;
  font-weight: 200;
  
}

.anima {
  position: sticky;
  top: 0;
  animation: adjust-header linear both;
  animation-timeline: scroll();
  animation-range: 0 4rem;
}

@keyframes adjust-header {
  to {
    @apply bg-slate-500/10 backdrop-blur;
  }
}

.icon .tooltip {
  transition: all .4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.icon:hover .tooltip {
  top: 1.10rem;
  opacity: 1;
  pointer-events: auto;
}

.burger {
  border: 1px solid black;
}

.line {
  @apply stroke-[#212427] dark:stroke-[#818cf8];
  transition: stroke .4s ease;
}

/* .top {
  animation: openIcon 1s forwards;
}

.button-one[aria-expanded="true"] .line .top{
  animation: closeIcon 1s forwards;
}

@keyframes closeIcon {
  0% {
    x1: 2;
    y1: 6;
    x2: 22;
    y2: 6;
  }
  50% {
    x1: 2;
    y1: 6;
    x2: 2;
    y2: 6;
  }
  100% {
    x1: 2;
    y1: 6;
    x2: 2;
    y2: 6;
  }
} */

/* @keyframes openIcon {
  0% {
    x1: 10;
    y1: 10;
    x2: 90;
    y2: 90;
  }
  50% {
    x1: 20;
    y1: 20;
    x2: 80;
    y2: 80;
  }
  100% {
    x1: 10;
    y1: 10;
    x2: 90;
    y2: 90;
  }
} */

/* .line {
  transition: .4s;
  transform-origin: center;
} */

/* .button-one[aria-expanded="true"] .top{
  rotate: 45deg;
}

.button-one[aria-expanded="true"] .middle{
  rotate: 45deg;
  opacity: 0;
}

.button-one[aria-expanded="true"] .bottom{
  rotate: -45deg;
} */