@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  transition: background-color .3s ease;
}

.roundlevel {
  border-radius: 3rem;
}

.roundedlevel {
  border-radius: 2.5rem;
}

.detail:hover::after {
  content: 'Not a Futbol Club lol';
  position: relative;
  display: inline-flex;
  top: -40px;
  font-size: small;
  font-weight: 200;
  
}

.anima {
  animation: adjust-header linear both;
  animation-timeline: scroll();
  animation-range: 0 4rem;
}

@keyframes adjust-header {
  to {
    @apply bg-slate-500/10 backdrop-blur;
  }
}

.icon .tooltip {
  transition: all .4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.icon:hover .tooltip {
  top: 1.10rem;
  opacity: 1;
  pointer-events: auto;
}

.line {
  @apply stroke-[#212427] dark:stroke-[#818cf8];
  transition: all .2s ease;
}

.button-one[aria-expanded="true"] .top{
  transform-origin: 4px 9px;
  rotate: 45deg;
}

.button-one[aria-expanded="true"] .middle{
  transform-origin: 12px 12px;
  rotate: 45deg;
  opacity: 0;
}

.button-one[aria-expanded="true"] .bottom{
  transform-origin: 5px 16px;
  rotate: -45deg;
}

.filter {
  backdrop-filter: 16px;
}