@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  transition: background-color .3s ease;
}

.roundlevel {
  border-radius: 3rem;
}

.rounded-details {
  border-top-left-radius: 3rem;
  border-bottom-left-radius: 3rem;
}

.size {
  width: 56rem;
  height: 34rem;
}

.inputsize {
  width: 44rem;
}

.roundedlevel {
  border-radius: 2.5rem;
}

.balance {
  white-space: pre balance;
}

.presentation {
  width: 41rem;
}

.detail:hover::after {
  content: 'Not a Futbol Club lol';
  position: relative;
  display: inline-flex;
  top: -40px;
  font-size: small;
  font-weight: 200;
  
}

.anima {
  position: sticky;
  top: 0;
  animation: adjust-header linear both;
  animation-timeline: scroll();
  animation-range: 0 4rem;
}

@keyframes adjust-header {
  to {
    @apply bg-slate-500/10 backdrop-blur;
  }
}

.icon .tooltip {
  transition: all .4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.icon:hover .tooltip {
  top: 1.10rem;
  opacity: 1;
  pointer-events: auto;
}
