@keyframes slide {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100%);
  }
}

.logos {
  display: inline-block;
}

.slider {
  white-space: nowrap;
  animation: 15s slide infinite linear;
}